.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 20pt;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.statusIcon {
  background-color: lightgreen;
  box-shadow: 0 0 10px rgb(0, 255, 0);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  overflow: visible;
}

.offline {
  background-color: red;
  box-shadow: 0 0 10px rgb(255, 0, 0); 
}

.categoryReel {
  width: 100%;
  margin-bottom: 2rem;
}

.categoryReelContent {
  display: flex;
  flex-direction: row;

}

.categoryReelShowAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  font-size: 16pt;
  transition: all .25s;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.categoryReelShowAll:hover {
  background-color: rgba(255, 255, 255, 0.097);
}

.categoryReelShowAll span:last-of-type {
  font-size: 32pt;
  transition: all .25s;
}

@media screen and (max-width: 768px) {
  .categoryReelShowAll {
    padding: .5rem 1rem;
    margin: 0 .25rem;
    font-size: 12pt;
    border: 1px solid white;
  }
  .categoryReelShowAll span:last-of-type {
    font-size: 24pt;
  }
}

.categoryReelShowAll:hover span:last-of-type {
  transform: translateX(5px);
}

.categoryReelItems {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
}

@media screen and (max-width: 328px) {
  .header h1 {
    display: none;
  }
}